### Printing a message

The print() function will display the number/texts within the parenthesis. This is used to display the outputs of what the computer has processed.

In [6]:
print("Hello World!")

Hello World!

### Introducing Strings

Strings are an array of characters. In python, a string has to be entered with inverted commas, and it will be displayed in orange/red in jupyter notebook. Both single and double inverted commas work for python.

In [12]:
"word"

'word'

In [13]:
'This sentence is a string'

'This sentence is a string'

### Introducing Numbers

Needs little introduction. A number value is a number that is displayed in green text. Mathematical operations can be performed on them.

In [19]:
3 + 3 * 3

12

True or False operations

In [ ]:
3>4

In [ ]:
5 >= 5

In [ ]:
4 != 3

In [ ]:
22 == '22'

A number, if surrounded by the inverted commas, will be a string. Mathematical operations cannot be performed on strings

In [20]:
"3"/"3"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### Introducing Variables

Variables are containers for storing data values. You could assign a number, string, list, tables or functions to it

In [23]:
x = 2
x = x + 3
x = x + 4

In [24]:
print(x)

9

inserting print statement instructs the computer to display the variable x as it goes through the calculation.

In [25]:
x = 2
print(x)
x = x + 3
print(x)
x = x + 4
print(x)

2
5
9

In [27]:
string_word = 'Knight'
string_sentence = "The quick brown fox jumps over the lazy dog"

In [29]:
print('A word that starts with K:',string_word)

A word that starts with K: Knight

### Simple methods to work with variables

Slicing: chopping up strings based on the positions specified in the square brackets

In [33]:
print(string_word[1:5])
print(string_sentence[1:5])

nigh
he q

In [34]:
print(string_sentence[-10:])

e lazy dog

Splitting a String: splits a string based on the character specified within the parenthesis

In [38]:
string_sentence.split(' ')

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [40]:
date = "2020-09-22"
date.split('-')

['2020', '09', '22']

Working with upper and lower cases

In [39]:
print(string_sentence.upper())
print(string_sentence.lower())

THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
the quick brown fox jumps over the lazy dog

In [9]:
x = 2
print(x)
x = x + 3
print(x)
x = x + 4
print(x)

2
5
9

More variable examples

In [41]:
client_1 = "John Doe"
client_2 = "Sam Sung"

In [42]:
print("This policy belongs to " + client_1)
print("This policy belongs to " + client_2)

This policy belongs to John Doe
This policy belongs to Sam Sung

In [43]:
claimant = input()
print("The claim was made by " + claimant)

Jolene
The claim was made by Jolene

### Introducing Lists

Creating a list

In [44]:
animal_list = ["Dog","Cat","Rabbit","Cow","Horse"]
numbers_list = [22,33,44,55,66,77,88]

calculating the length of a list (number of items)

In [45]:
len(animal_list)

5

performing mathematical operations on a list

In [50]:
sum(numbers_list)/len(numbers_list)

55.0

### Introducing For Loops

For loops are used to call out each individual items on a list

In [48]:
for animal in animal_list:
    print(animal)

Dog
Cat
Rabbit
Cow
Horse

### Introducing If statements:

If statements can be used to check if a variable/number/string meets a certain criteria.

In [47]:
for animal_name in animal_list:
    if len(animal_name)>3:
        print(animal_name)

Rabbit
Horse

In [ ]:
for anim in animal_list:
    if anim[:1]=='R':
        print(anim)

In [ ]:
x=0
while x<5:
    print(x)
    x = x+1

In [ ]:
for i in animal_list:
    print(i.lower())
    print(i.upper())

### Putting it all together

Simple check to indicate if a number provided is even or odd

In [4]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
    print(num,"is Even")
else:
    print(num,"is Odd")

Enter a number: 33
33 is Odd